<form name="editForm" role="form" novalidate ng-submit="vm.save()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myEmailLabel" translate="clockinApp.email.home.createOrEditLabel">Create or edit a Email</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label class="control-label" translate="clockinApp.email.subject" for="field_subject">Subject</label>
            <input type="text" class="form-control" name="subject" id="field_subject" ng-model="vm.email.subject"/>
        </div>
        <div class="form-group">
            <label class="control-label" translate="clockinApp.email.content" for="field_content">Content</label>
            <textarea class="form-control" name="content" ng-keyup="autoExpand($event)" id="field_content" ng-model="vm.email.content"/>
        </div>
        <div class="form-group">
            <label class="control-label">Constantes</label>
            <div class="form-group">
                <span class="label label-info">CONST_PRIMEIRO_NOME</span>
                <span class="label label-info">CONST_ULTIMO_NOME</span>
                <span class="label label-info">CONST_HORAS_MES</span>
                <span class="label label-info">CONST_HORAS_PERIODO</span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
        <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>