<nav class="navbar navbar-default" role="navigation" ng-if="vm.isAuthenticated()">
   <div class="container-fluid">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle" ng-click="vm.toggleNavbar()">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="#/"><i class="fa fa-clock-o"></i> <span translate="global.title">Clockin</span></a>
         <a class="welcome-text" hide-sm hide-md hide-lg hide-gt-md>Olá, {{firstName}}</a>
      </div>
      <div class="navbar-collapse" uib-collapse="vm.isNavbarCollapsed">
         <ul class="nav navbar-nav navbar-right">
            <li hide-layout-xs hide-sm class="welcome-text">
               Olá, {{firstName}}
            </li>
            <li ui-sref-active="active" >
               <a ui-sref="clockin" has-not-authority="ROLE_MANAGER" ng-click="vm.collapseNavbar()">
               <span class="glyphicon glyphicon-time"></span>&nbsp;
               <span class="hidden-sm" translate="global.menu.entities.clockin">Clockin</span>
               </a>
            </li>
            <li ui-sref-active="active" has-authority="ROLE_MANAGER" >
               <a ui-sref="manager" ng-click="vm.collapseNavbar()">
               <span class="glyphicon glyphicon-list-alt"></span>&nbsp;
               <span class="hidden-sm" translate="global.menu.entities.manager">Manager</span>
               </a>
            </li>
            <li ng-class="{active: vm.$state.includes('entity')}" has-authority="ROLE_ADMIN" uib-dropdown class="dropdown pointer">
               <a class="dropdown-toggle" uib-dropdown-toggle href="" id="entity-menu">
               <span>
               <span class="glyphicon glyphicon-cog"></span>
               <span class="hidden-sm" translate="global.menu.admin.main">Administration</span>
               <b class="caret"></b>
               </span>
               </a>
               <ul class="dropdown-menu" uib-dropdown-menu>
                  <li ui-sref-active="active" has-authority="ROLE_ADMIN">
                     <a ui-sref="report" ng-click="vm.collapseNavbar()">
                     <span class="glyphicon glyphicon-list-alt"></span>&nbsp;
                     <span translate="global.menu.entities.report">Report</span>
                     </a>
                  </li>
                  <li ui-sref-active="active" has-authority="ROLE_ADMIN">
                     <a ui-sref="email" ng-click="vm.collapseNavbar()">
                     <span class="glyphicon glyphicon-envelope"></span>&nbsp;
                     <span translate="global.menu.entities.email">Email</span>
                     </a>
                  </li>
                  <li ui-sref-active="active" >
                     <a ui-sref="employee" ng-click="vm.collapseNavbar()">
                     <span class="glyphicon glyphicon-education"></span>&nbsp;
                     <span translate="global.menu.admin.employeeManagement">Employee management</span>
                     </a>
                  </li>
                  <li ui-sref-active="active">
                     <a ui-sref="user-management" ng-click="vm.collapseNavbar()">
                     <span class="glyphicon glyphicon-user"></span>&nbsp;
                     <span translate="global.menu.admin.userManagement">User management</span>
                     </a>
                  </li>
               </ul>
            </li>
            <li ng-class="{active: vm.$state.includes('admin')}" has-authority="ROLE_ADMIN" uib-dropdown class="dropdown pointer">
               <a class="dropdown-toggle" uib-dropdown-toggle href="" id="admin-menu">
               <span>
               <span class="glyphicon glyphicon-wrench"></span>
               <span class="hidden-sm" translate="global.menu.admin.main">Administration</span>
               <b class="caret"></b>
               </span>
               </a>
               <ul class="dropdown-menu" uib-dropdown-menu>
                  <li ui-sref-active="active">
                     <a ui-sref="jhi-metrics" ng-click="vm.collapseNavbar()">
                     <span class="glyphicon glyphicon-dashboard"></span>&nbsp;
                     <span translate="global.menu.admin.metrics">Metrics</span>
                     </a>
                  </li>
                  <li ui-sref-active="active">
                     <a ui-sref="jhi-health" ng-click="vm.collapseNavbar()">
                     <span class="glyphicon glyphicon-heart"></span>&nbsp;
                     <span translate="global.menu.admin.health">Health</span>
                     </a>
                  </li>
                  <li ui-sref-active="active">
                     <a ui-sref="jhi-configuration" ng-click="vm.collapseNavbar()">
                     <span class="glyphicon glyphicon-list-alt"></span>&nbsp;
                     <span translate="global.menu.admin.configuration">Configuration</span>
                     </a>
                  </li>
                  <li ui-sref-active="active">
                     <a ui-sref="audits" ng-click="vm.collapseNavbar()">
                     <span class="glyphicon glyphicon-bell"></span>&nbsp;
                     <span translate="global.menu.admin.audits">Audits</span>
                     </a>
                  </li>
                  <li ui-sref-active="active">
                     <a ui-sref="logs" ng-click="vm.collapseNavbar()">
                     <span class="glyphicon glyphicon-tasks"></span>&nbsp;
                     <span translate="global.menu.admin.logs">Logs</span>
                     </a>
                  </li>
                  <li ng-hide="vm.inProduction || vm.swaggerDisabled" ui-sref-active="active">
                     <a ui-sref="docs" ng-click="vm.collapseNavbar()">
                     <span class="glyphicon glyphicon-book"></span>&nbsp;
                     <span translate="global.menu.admin.apidocs">API</span>
                     </a>
                  </li>
                  <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
               </ul>
            </li>
            <li ui-sref-active="active">
               <a href="" ng-click="vm.logout()" id="logout">
               <span class="glyphicon glyphicon-log-out"></span>&nbsp;
               <span class="hidden-sm" translate="global.menu.account.logout">Sign out</span>
               </a>
            </li>
         </ul>
      </div>
   </div>
</nav>