<div ng-cloak>
   <div class="row">
      <div class="col-md-12 center-txt">
         <h1 class="login-text">
            <i class="fa fa-clock-o logo-icon"></i> Clockin!
         </h1>
         <div ng-switch="vm.isAuthenticated()">
            <div ng-switch-when="false">
               <p>Para acompanhar suas horas, é necessário logar-se</p>
            </div>
            <br>
            <div ng-switch-when="true" class="alert alert-success" translate="home.logged.message" translate-values="{username: '{{vm.account.firstName}}'}">
               Welcome "{{vm.account.firstName}}".
            </div>
            <div ng-switch-when="false">
               <md-button ng-if="!vm.isAuthenticated()" class="md-raised md-primary btn btn-info" ng-click="vm.login()">
                  <span translate="global.menu.account.login" class="ng-scope ng-binding">Sign in</span>
               </md-button>
            </div>
         </div>
      </div>
   </div>
</div>