.top-bordered {
    border-style: solid none none none;
    border-color: #ccc;
    border-width: 2px;
}

.dateDisable {
    color: #ccc; }

.dateEnable:hover {
    -webkit-transition-delay: 192ms; /* Safari */
    transition-delay: 192ms;
    background-color:#78ddfa;
    transition: all 400ms ease-out 50ms;
}

md-grid-tile {
    transition: all 400ms ease-out 50ms; }

.dialogdemoBasicUsage #popupContainer {
    position: relative; }

.dialogdemoBasicUsage .footer {
    width: 100%;
    text-align: center;
    margin-left: 20px;
}

.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
    font-size: 0.8em;
    margin-top: 50px;
}

.dialogdemoBasicUsage button {
    width: 200px; }

.dialogdemoBasicUsage div#status {
    color: #c60008; }

.month-title {
    text-align: center; }

.month-changer {
    font-size: 168%;
    color: #0F95BF;
}

#month-prev::before {
    content: '\25c2';}

#month-next::before {
    content: '\25b8'; }
