html {
    background: transparent;
}

body {
    background: #fafafa;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 2em;
    color: #333;
    overflow-x:hidden;    
}

body.bg-dark, .bg-dark {
    background: #009FC5;    
}

body.bg-dark footer {
    font-size: 0.8em;
}

.clockins .layout-row div {
    text-align: center;
    color: #fff;
    padding: 0.5em;
}

.clockins .md-button {
    border-radius: 0;
    margin: 0;
}

.day {
    font-weight: 300;
    font-family: 'Roboto';
    border-bottom: solid 3px #7EAF45;
}

.day.red, .settings.red {
    border-bottom-color: #C54131;
}

.day p {
    text-align: center;
    color: #fff;
    line-height: 2.4em;
    margin: 0.5em;
}

.day span {
    display: block;    
    font-size: 3em;
    font-weight: 600;
}

.clocks, .clocks button, .clocks .layout-row {
    padding: 0!important;
}

.clocks {
    background: #f5f5f5;
}

.clocks .layout-row button {
    box-sizing: border-box;
    height: 5.4em;
    display: block;
    border-bottom: solid 3px rgba(0,0,0,0.1);
}

.title-month {
    padding: 1em 0.4em;
    font-size: 2.6em;
    margin: 0;
    color: #6D6D6D;
}

.title-month span {
    float: right;
}

.clocks {
    color: #fff;
}

.clock-row {
    margin-bottom: 0.3em;
}

.clocks .layout-row button:first-child {
    background: #80d8ff;
}

.clocks .layout-row button:nth-child(2) {
    background: #8c9eff;
}

.clocks .layout-row button:nth-child(3) {
    background: #b388ff;
}

.clocks .layout-row button:nth-child(4) {
    background: #ff80ab;
}

.clocks p {
    display: inline-block;
    font-size: 1.5em;
    font-weight: 400;
    margin: auto;
}

.clockins .fa-cog {
    display: block;
    font-size: 4em;
    color: #6D6D6D;
}

.clockins .md-button span {
    font-family: 'Roboto';
    font-size: 1.2em;
    color: #6D6D6D;
}

.gray {
  background: #f5f5f5; 
    border-bottom: solid 3px rgba(0,0,0,0.1);
}
.green {
  background: #8bc34a; }
.yellow {
  background: #ffff8d; }
.blue {
  background: #03A9F4; }
.darkBlue {
  background: #80d8ff; }
.deepBlue {
  background: #448aff; }
.purple {
  background: #b388ff; }
.lightPurple {
  background: #8c9eff; }
.red {
  background: #DD4B39; }
.pink {
  background: #ff80ab; }

.navbar-brand i, body.bg-dark footer {    
    color: #fff;
}

a {
    color: #00CEFF;
}

.navbar {
    border: none;
    border-radius: 0;
}

.navbar, .bg-light {
    background: #00c0ef;
}

.navbar .navbar-brand span {
    color: #fff;
}

.center-txt {
    text-align: center;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background: #009FC5;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background: rgba(0, 174, 216, 0.32);
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background: #009FC5;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background: rgba(0, 192, 239, 0.49);
}

.navbar-right span, .dropdown-menu > li > a,  .dropdown-menu > li > a:hover {
    color: #fff;
}

.dropdown-menu {
    background: #00BAE8;
    border: none;
    border-top: solid 1px #00BAE8;
    box-shadow: none;
}

.hidden-sm {
    display: none;
}

md-toolbar.md-default-theme.md-menu-toolbar md-toolbar-filler, md-toolbar.md-menu-toolbar md-toolbar-filler {
    background:#FF5722
}

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox; 
  display: -webkit-flex;
  display: flex;
}

.column-flex-flow {
    -webkit-flex-flow: column;
    -moz-flex-flow: column;
    -ms-flex-flow: column;
    -o-flex-flow: column;
    flex-flow: column;
}

.box {
    max-width: 24em;
    margin: 23vh auto 2em;
    border-radius:0.2em;
    background: #fff;
    overflow: hidden;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.09);
    padding-bottom: 2em;
    justify-content:center;
}

.box h1 {    
    height: 1.5em;
    font-size: 5em;
    margin-top: 0;
    background: #00c0ef;
    line-height: 1.5em;
    color: #fff;
}

.box h3 {
    padding: 1em 1.2em 0;
    font-weight: 400;
}

.box form > button {
    width: 50%;
    border-radius: 0;
    height: 3em;
    margin: 0;
    margin-top: 2em;
    box-shadow: none!important;
}

.box button button,.box button button:hover,.box button button:focus,.box button button:active {
    background: transparent;
    font-size: 1.19em;
    box-shadow: none!important;
    outline: none!important;
    border: none;
}

h3 {
    font-weight: 600;
    margin-top: 0;
}


h4 {
    margin-top: 0;
    font-size: 0.9em;
    font-size: 0.8em;
    color: #A2A2A2;    
}

.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background: transparent;
    border: none;
}

.navbar-default .navbar-toggle span, .navbar-default .navbar-toggle:hover span, .navbar-default .navbar-toggle:focus  span {
    background-color:#fff!important;
}

footer {
    text-align: center;
    padding: 3em 0 1em;
    line-height: 0.9em;
    font-size: 0.7em;
}

/* ==========================================================================
Hide ng-cloak on page load, https://docs.angularjs.org/api/ng/directive/ngCloak
========================================================================== */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/* ==========================================================================
Developement Ribbon
========================================================================== */
.development {
    position: absolute;
    width: 149px;
    height: 149px;
    top: 0;
    left: 0;
    border: 0;
    z-index: 1000;
    background-image: url("../images/development_ribbon.png");
    background-position: center center;
    background-repeat: no-repeat;
    pointer-events: none;
}

/* ==========================================================================
Version number in navbar
========================================================================== */
.navbar-version {
    font-size: 10px;
    color: #ccc
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.error {
    color: white;
    background-color: red;
}

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../images/hipster.png") no-repeat center top;
    background-size: contain;
}

.pad {
    padding: 10px;
}

.break {
    white-space: normal;
    word-break:break-all;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hipster {
        background: url("../images/hipster2x.png") no-repeat center top;
        background-size: contain;
    }
}

.hand {
    cursor: pointer;
}

#threadDump .popover, #healthCheck .popover {
    top: inherit;
    display: block;
    font-size: 10px;
    max-width: 1024px;
}

#healthCheck .popover {
    margin-left: -50px;
}

.health-details {
    min-width: 400px;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */

.alerts .alert{
    text-overflow: ellipsis;
}
.alert pre{
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
}

.alert .popover pre {
    font-size: 10px;
}

.alerts .toast {
    position: fixed;
    width: 100%;
}

.alerts .toast.left {
    left: 5px;
}

.alerts .toast.right {
    right: 5px;
}

.alerts .toast.top {
    top: 55px;
}

.alerts .toast.bottom {
    bottom: 55px;
}

@media screen and (min-width: 480px) {
    .alerts .toast {
        width: 50%;
    }
}

/* end of Custom alerts for notification */

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

/* start Password strength bar style */
ul#strengthBar {
    display:inline;
    list-style:none;
    margin:0;
    margin-left:15px;
    padding:0;
    vertical-align:2px;
}

.point:last {
    margin:0 !important;
}
.point {
    background:#DDD;
    border-radius:2px;
    display:inline-block;
    height:5px;
    margin-right:1px;
    width:20px;
}
/* end Password strength bar style */

.readonly {
    background-color: #eee;
    opacity: 1;
}
/* ==========================================================================
Social Buttons
========================================================================== */
.jh-btn-social {
    margin-bottom: 5px;
}

.jh-btn-google {
    background-color: #dd4b39;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.jh-btn-google:hover, .jh-btn-google:focus, .jh-btn-google:active, .jh-btn-google.active, .open > .dropdown-toggle.jh-btn-google {
    background-color: #c23321;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.jh-btn-facebook {
    background-color: #3b5998;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.jh-btn-facebook:hover, .jh-btn-facebook:focus, .jh-btn-facebook:active, .jh-btn-facebook.active, .open > .dropdown-toggle.jh-btn-facebook {
    background-color: #2d4373;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.jh-btn-twitter {
    background-color: #55acee;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.jh-btn-twitter:hover, .jh-btn-twitter:focus, .jh-btn-twitter:active, .jh-btn-twitter.active, .open > .dropdown-toggle.jh-btn-twitter {
    background-color: #2795e9;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

/* entity tables helpers */

/* Remove Bootstrap padding from the element
   http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */
.no-padding-left { padding-left: 0 !important; }
.no-padding-right { padding-right: 0 !important; }
.no-padding-top { padding-top: 0 !important; }
.no-padding-bottom { padding-bottom: 0 !important; }
.no-padding { padding: 0 !important; }

/* bootstrap 3 input-group 100% width
   http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */
.width-min { width: 1% !important; }

/* Makes toolbar not wrap on smaller screens
 http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#right */
.flex-btn-group-container {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
}

.jh-table > tbody > tr > td {
    /* Align text in td verifically (top aligned by Bootstrap) */
    vertical-align: middle;
}

.jh-table > thead > tr > th > .glyphicon-sort, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes-alt {
    /* less visible sorting icons */
    opacity: 0.5;
}

.jh-table > thead > tr > th > .glyphicon-sort:hover, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes:hover, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes-alt:hover {
    /* full visible sorting icons and pointer when mouse is over them */
    opacity: 1;
    cursor: pointer;
}

/* end of entity tables helpers */

/* ui bootstrap tweaks */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.datetime-picker-dropdown > li.date-picker-menu div > table .btn-default,
.uib-datepicker-popup  > li > div.uib-datepicker > table .btn-default {
    border: 0;
}

.datetime-picker-dropdown > li.date-picker-menu div > table:focus,
.uib-datepicker-popup  > li > div.uib-datepicker > table:focus{
    outline: none;
}
/* end of ui bootstrap tweaks */

/* jhipster-needle-scss-add-main JHipster will add new css style */

/* jhipster-needle-css-add-main JHipster will add new css style */

@media only screen and (max-width: 764px) {
    .navbar-collapse {
        border: none;
    }

    .navbar-collapse  * {
        color: #fff!important;
    }

    .navbar-collapse  .hidden-sm {
        display: inline-block;
        font-size: 0.9em
    }

    .navbar-nav .open .dropdown-menu {
        background: rgba(0, 174, 216, 0.32);        
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, 
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        background: transparent;
    }
}

@media only screen and (max-width: 600px) {
    .box form > button {
        width: 60%;
    }

    h4 {
        font-size: 0.8em;
    }
    
    .box {
        margin-top: 7vh;
    }
}

.btn-block {
    display: inline;
}