<button type="submit"
        ui-sref="clockin-page({year:vm.previousYear, month:vm.previousMonth})"
        class="btn btn-info btn-sm left">
    {{vm.previousDate | date : 'MMMM/yyyy' | uppercase}}
</button>
<button type="submit"
        ui-sref="clockin-page({year:vm.nextYear, month:vm.nextMonth})"
        class="btn btn-info btn-sm right">
    {{vm.nextDate | date : 'MMMM/yyyy' | uppercase}}
</button>
<h5 class="title-month">{{vm.date | date:"MMMM" | uppercase}} <span>{{vm.date | date:"yyyy"}}</span></h5>
<div ng-repeat="workday in vm.workdays track by workday.date">
    <div class="clockins">
        <div layout-gt-sm="row" layout="column" class="clock-row">
            <div flex="100" class='{{vm.isWeekend(workday.date) ? "lightPurple" : "green"}} day' flex-gt-sm="20">
                <p>
                    {{workday.date | date:"EEE" | uppercase}} {{workday.date | date:"dd"}}
                </p>
            </div>
            <div flex="60" class="clocks">
                <div layout="row">
                    <md-button flex ng-repeat="clockin in workday.clockinValues track by clockin.id">
                        <p>{{clockin.time}}</p>
                    </md-button>
                </div>
            </div>
            <!-- <md-button class="gray" flex="20">
                <i class="fa fa-cog"></i>
                Saldo / Horas Trabalhadas
            </md-button> -->
        </div>
    </div>
</div>
