<md-dialog>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <p flex>{{workday.date | date:"EEEE" | capitalize }}</pflex>
                <p>{{workday.date | date:"dd"}}</p>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <md-tabs class="calendar-message" md-dynamic-height md-border-bottom>
                <md-tab class="calendar-message" label="clockins">
                    <md-content class="md-padding">
                        <table class="fancy-table" align="center">
                            <tr ng-repeat="clockin in workday.clockinValues track by clockin.id">
                                <td>
                                    {{$index + 1}}
                                </td>
                                <td>
                                    {{clockin.time}}
                                </td>
                            </tr>
                        </table>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="hide()" >
                Ok
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
