<button type="submit"
   ui-sref="clockin-page({year:vm.previousYear, month:vm.previousMonth})"
   class="btn btn-info btn-sm left">
{{vm.previousDate | date : 'MMMM/yyyy' | uppercase}}
</button>
<button type="submit"
   ui-sref="clockin-page({year:vm.nextYear, month:vm.nextMonth})"
   class="btn btn-info btn-sm right">
{{vm.nextDate | date : 'MMMM/yyyy' | uppercase}}
</button>
<h5 class="title-month">{{vm.date | date:"MMMM" | uppercase}} / {{vm.date | date:"yyyy"}}</h5>
<!-- <div ng-repeat="workday in vm.workdays track by workday.date">
	<div class="clockins">
		<div layout-gt-sm="row" layout="column" class="clock-row">
			<div flex="100" class='{{vm.isWeekend(workday.date) ? "lightPurple" : "green"}} day' flex-gt-sm="20">
				<p>
				{{workday.date | date:"EEE" | uppercase}} {{workday.date | date:"dd"}}
				</p>
			</div>
			<div flex="60" class="clocks">
				<div layout="row">
					<md-button flex ng-repeat="clockin in workday.clockinValues track by clockin.id">
					<p>{{clockin.time}}</p>
					</md-button>
				</div>
			</div>
			<md-button class="gray" flex="20">
				<i class="fa fa-cog"></i>
				Saldo / Horas Trabalhadas
			</md-button>
		</div>
	</div>
</div> -->
<div class="row text-center">
   <div class="col-md-6">
      <table class="table table-striped">
         <tbody>
            <tr ng-repeat="workday in vm.firstHalf(vm.workdays)">
               <td>{{workday.date | date:"EEE" | uppercase}} {{workday.date | date:"dd"}}</td>
               <td ng-repeat="clockin in workday.clockinValues track by clockin.id">{{clockin.time}}</td>
               <td colspan="100%"></td>
            </tr>
         </tbody>
      </table>
   </div>
   <div class="col-md-6">
      <table class="table table-striped">
         <tbody>
            <tr ng-repeat="workday in vm.lastHalf(vm.workdays)">
               <td>{{workday.date | date:"EEE" | uppercase}} {{workday.date | date:"dd"}}</td>
               <td ng-repeat="clockin in workday.clockinValues track by clockin.id">{{clockin.time}}</td>
               <td colspan="100%"></td>
            </tr>
         </tbody>
      </table>
   </div>
</div>