<div ng-cloak>
	<!-- HEADER OF MONTHS -->
	<div class="month-title">
	  <span ui-sref="clockin-table({year: vm.previousYear, month: vm.previousMonth})" class="glyphicon glyphicon-chevron-left"></span>

	  <div id="month-row">
		  <h2 class="md-headline">{{vm.date | date:"MMMM" | capitalize}}</h2>
		  <p class="md-subhead">{{vm.date | date:"yyyy"}}<p>
	   </div>

	  <span ui-sref="clockin-table({year: vm.nextYear, month: vm.nextMonth})" class="glyphicon glyphicon-chevron-right"></span>
	</div>
	<!-- HEADER OF MONTHS -->

    <div class="page-table" layout-xs="column" layout-gt-xs="column" layout-gt-sm="row">
        <div flex-xs="grow" flex-gt-xs="grow" flex-gt-sm="50">
            <div class="table-row"
                 ng-repeat="workday in vm.firstHalf(vm.workdays)" layout="row">

                <div flex="25" layout="column" class="month-title table-header">
                    <div class="date-label {{(workday.isMissing && ((workday.date | date:'dd') != (vm.today | date:'dd'))) ? 'warning' : ''}}">
                        <p class="md-caption week-day">
                            {{workday.date | date:"EEE" | capitalize}}
                        </p>
                        <p class="md-subhead date">
                            {{workday.date | date:"dd"}}
                        </p>
                    </div>
                </div>

                <md-grid-list class="clockins-container"
                    flex md-cols-xs="4" md-cols-sm="4" md-cols-md="4" md-cols-gt-md="4"
                    md-row-height-xs="2:1" md-row-height-gt-xs="8:1" md-row-height-sm="4:1"
                    md-row-height-gt-sm="4:1" md-gutter="8px" md-gutter-gt-sm="12px">

                    <md-grid-tile flex class="table-cell"
                                  ng-repeat="clockin in workday.clockinValues track by clockin.id">

                        <p class="md-body-1">{{clockin.time}}</p>
                    </md-grid-tile>
                </md-grid-list>
            </div>
        </div>

        <div flex-xs="grow" flex-gt-xs="grow" flex-gt-sm="50">
            <div class="table-row"
                 ng-repeat="workday in vm.lastHalf(vm.workdays)" layout="row">

                <div flex="25" layout="column" class="month-title table-header">
                    <div class="date-label {{(workday.isMissing && ((workday.date | date:'dd') != (vm.today | date:'dd'))) ? 'warning' : ''}}">
                        <p class="md-caption week-day">
                            {{workday.date | date:"EEE" | capitalize}}
                        </p>
                        <p class="md-subhead date">
                            {{workday.date | date:"dd"}}
                        </p>
                    </div>
                </div>

                <md-grid-list class="clockins-container"
                    flex md-cols-xs="4" md-cols-sm="4" md-cols-md="4" md-cols-gt-md="4"
                    md-row-height-xs="2:1" md-row-height-gt-xs="8:1" md-row-height-sm="4:1"
                    md-row-height-gt-sm="4:1" md-gutter="8px" md-gutter-gt-sm="12px">

                    <md-grid-tile class="table-cell"
                                  ng-repeat="clockin in workday.clockinValues track by clockin.id">

                        <p class="md-body-1">{{clockin.time}}</p>
                    </md-grid-tile>
                </md-grid-list>
            </div>
        </div>
    </div>
</div>
