<h5 class="title-month">Dezembro <span>2015</span></h5>

<div class="clockins">
 <div layout-gt-sm="row" layout="column" class="clock-row">
     <div flex="100" class="green day" flex-gt-sm="20">
       <p>
           TER
           <span>01</span>
       </p>
     </div>
     <div flex="60" class="clocks">
       <div layout="row">
         <md-button flex>
           <p>08:00</p>
         </md-button>
         <md-button flex>
           <p>13:00</p>
         </md-button>
         <md-button flex>
           <p>15:00</p>
         </md-button>
         <md-button flex>
           <p>17:00</p>
         </md-button>
       </div>
       <div layout="row">
         <md-button flex>
           <p>12:00</p>
         </md-button>
         <md-button flex>
           <p>14:00</p>
         </md-button>
         <md-button flex>
           <p>15:40</p>
         </md-button>
         <md-button flex>
           <p>18:00</p>
         </md-button>
       </div>
     </div>
       <md-button class="gray" flex="20">
           <i class="fa fa-cog"></i>
           Saldo / Horas Trabalhadas
       </md-button>
   </div>



<div layout-gt-sm="row" layout="column" class="clock-row">
     <div flex="100" class="red day" flex-gt-sm="20">
       <p>
           TER
           <span>02</span>
       </p>
     </div>
     <div flex="60" class="clocks">
       <div layout="row">
         <md-button flex>
           <p>10:00</p>
         </md-button>
         <md-button flex>
           <p>10:00</p>
         </md-button>
         <md-button flex>
           <p>10:00</p>
         </md-button>
         <md-button flex>
           <p>10:00</p>
         </md-button>
       </div>
       <div layout="row">
         <md-button flex>
           <p>10:00</p>
         </md-button>
         <md-button flex>
           <p>10:00</p>
         </md-button>
         <md-button flex>
           <p>10:00</p>
         </md-button>
         <md-button flex>
           <p>10:00</p>
         </md-button>
       </div>
     </div>
       <md-button class="gray" flex="20">
           <i class="fa fa-cog"></i>
           Saldo / Horas Trabalhadas
       </md-button>
   </div>


    <div layout-gt-sm="row" layout="column" class="clock-row">
     <div flex="100" class="green day" flex-gt-sm="20">
       <p>
           TER
           <span>03</span>
       </p>
     </div>
     <div flex="60" class="clocks">
       <div layout="row">
         <md-button flex>
           <p>10:00</p>
         </md-button>
         <md-button flex>
           <p>10:00</p>
         </md-button>
         <md-button flex>
           <p>10:00</p>
         </md-button>
         <md-button flex>
           <p>10:00</p>
         </md-button>
       </div>
       <div layout="row">
         <md-button flex>
           <p>10:00</p>
         </md-button>
         <md-button flex>
           <p>10:00</p>
         </md-button>
         <md-button flex>
           <p>10:00</p>
         </md-button>
         <md-button flex>
           <p>10:00</p>
         </md-button>
       </div>
     </div>
       <md-button class="gray" flex="20">
           <i class="fa fa-cog"></i>
           Saldo / Horas Trabalhadas
       </md-button>
   </div>


<div layout-gt-sm="row" layout="column" class="clock-row">
     <div flex="100" class="green day" flex-gt-sm="20">
       <p>
           TER
           <span>04</span>
       </p>
     </div>
     <div flex="60" class="clocks">
       <div layout="row">
         <md-button flex>
           <p>10:00</p>
         </md-button>
         <md-button flex>
           <p>10:00</p>
         </md-button>
         <md-button flex>
           <p>10:00</p>
         </md-button>
         <md-button flex>
           <p>10:00</p>
         </md-button>
       </div>
       <div layout="row">
         <md-button flex>
           <p>10:00</p>
         </md-button>
         <md-button flex>
           <p>10:00</p>
         </md-button>
         <md-button flex>
           <p>10:00</p>
         </md-button>
         <md-button flex>
           <p>10:00</p>
         </md-button>
       </div>
     </div>
       <md-button class="gray" flex="20">
           <i class="fa fa-cog"></i>
           Saldo / Horas Trabalhadas
       </md-button>
   </div>



<div layout-gt-sm="row" layout="column" class="clock-row">
     <div flex="100" class="green day" flex-gt-sm="20">
       <p>
           TER
           <span>05</span>
       </p>
     </div>
     <div flex="60" class="clocks">
       <div layout="row">
         <md-button flex>
           <p>10:00</p>
         </md-button>
         <md-button flex>
           <p>10:00</p>
         </md-button>
         <md-button flex>
           <p>10:00</p>
         </md-button>
         <md-button flex>
           <p>10:00</p>
         </md-button>
       </div>
       <div layout="row">
         <md-button flex>
           <p>10:00</p>
         </md-button>
         <md-button flex>
           <p>10:00</p>
         </md-button>
         <md-button flex>
           <p>10:00</p>
         </md-button>
         <md-button flex>
           <p>10:00</p>
         </md-button>
           </div>
     </div>
       <md-button class="gray" flex="20">
           <i class="fa fa-cog"></i>
           Saldo / Horas Trabalhadas
       </md-button>
       </div>

    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="sequentialRegisterNumber"><span translate="clockinApp.clockin.sequentialRegisterNumber">SequentialRegisterNumber</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dateTime"><span translate="clockinApp.clockin.dateTime">DateTime</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="registryType"><span translate="clockinApp.clockin.registryType">RegistryType</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="employee.id"><span translate="clockinApp.clockin.employee">employee</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="clockin in vm.clockins track by clockin.id">
                    <td>{{clockin.sequentialRegisterNumber}}</td>
                    <td>{{clockin.dateTime | date:'medium'}}</td>
                    <td translate="{{'clockinApp.RegistryType.'clockin.registryType}}">{{clockin.registryType}}</td>
                    <td>
                        <a ui-sref="employee-detail({id:clockin.employee.id})">{{clockin.employee.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">                     
                            <button type="submit"
                                    ui-sref="clockin.edit({id:clockin.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>


 <div layout-gt-sm="row" layout="column" class="clock-row">
      <div flex="100" class="green day" flex-gt-sm="20">
        <p>
            TER
            <span>06</span>
        </p>
      </div>
      <div flex="60" class="clocks">
        <div layout="row">
          <md-button flex>
            <p>10:00</p>
          </md-button>
          <md-button flex>
            <p>10:00</p>
          </md-button>
          <md-button flex>
            <p>10:00</p>
          </md-button>
          <md-button flex>
            <p>10:00</p>
          </md-button>
        </div>
        <div layout="row">
          <md-button flex>
            <p>10:00</p>
          </md-button>
          <md-button flex>
            <p>10:00</p>
          </md-button>
          <md-button flex>
            <p>10:00</p>
          </md-button>
          <md-button flex>
            <p>10:00</p>
          </md-button>
        </div>
      </div>
        <md-button class="gray" flex="20">
            <i class="fa fa-cog"></i>
            Saldo / Horas Trabalhadas
        </md-button>
       </div>
 <div layout-gt-sm="row" layout="column" class="clock-row">
      <div flex="100" class="red day" flex-gt-sm="20">
        <p>
            TER
            <span>07</span>
        </p>
      </div>
      <div flex="60" class="clocks">
        <div layout="row">
          <md-button flex>
            <p>10:00</p>
          </md-button>
          <md-button flex>
            <p>10:00</p>
          </md-button>
          <md-button flex>
            <p>10:00</p>
          </md-button>
          <md-button flex>
            <p>10:00</p>
          </md-button>
        </div>
        <div layout="row">
          <md-button flex>
            <p>10:00</p>
          </md-button>
          <md-button flex>
            <p>10:00</p>
          </md-button>
          <md-button flex>
            <p>10:00</p>
          </md-button>
          <md-button flex>
            <p>10:00</p>
          </md-button>
        </div>
      </div>
        <md-button class="gray" flex="20">
            <i class="fa fa-cog"></i>
            Saldo / Horas Trabalhadas
        </md-button>
    </div>



 <div layout-gt-sm="row" layout="column" class="clock-row">
      <div flex="100" class="green day" flex-gt-sm="20">
        <p>
            TER
            <span>08</span>
        </p>
      </div>
      <div flex="60" class="clocks">
        <div layout="row">
          <md-button flex>
            <p>10:00</p>
          </md-button>
          <md-button flex>
            <p>10:00</p>
          </md-button>
          <md-button flex>
            <p>10:00</p>
          </md-button>
          <md-button flex>
            <p>10:00</p>
          </md-button>
        </div>
        <div layout="row">
          <md-button flex>
            <p>10:00</p>
          </md-button>
          <md-button flex>
            <p>10:00</p>
          </md-button>
          <md-button flex>
            <p>10:00</p>
          </md-button>
          <md-button flex>
            <p>10:00</p>
          </md-button>
        </div>
      </div>
        <md-button class="gray" flex="20">
            <i class="fa fa-cog"></i>
            Saldo / Horas Trabalhadas
        </md-button>
    </div>

</div>
