 <button type="submit"
        ui-sref="clockin-page({year:(vm.workdays[0].date|date:'yyyy'), month:(vm.workdays[0].date|date:'MM')-1})"
        class="btn btn-info btn-sm">
        Anterior
</button>
 <button type="submit"
        ui-sref="clockin-page({year:(vm.workdays[0].date|date:'yyyy'), month:(vm.workdays[0].date|date:'MM')+1})"
        class="btn btn-info btn-sm">
        Posterior
</button>

<div ng-repeat="workday in vm.workdays track by workday.date">
 	<ion-item class="item-divider" ng-if="$index == 0 ||
 		 ((vm.workdays[$index-1].date|date:'yyyy') != (vm.workdays[$index].date|date:'yyyy') || 
 		 (vm.workdays[$index-1].date|date:'MMMM') != (vm.workdays[$index].date|date:'MMMM'))">
		<h5 class="title-month">{{workday.date | date:"MMMM" | uppercase}} <span>{{workday.date | date:"yyyy"}}</span></h5>
	</ion-item>
	<div class="clockins">
		<div layout-gt-sm="row" layout="column" class="clock-row">
			<div flex="100" class="green day" flex-gt-sm="20">
				<p>
				{{workday.date | date:"EEE" | uppercase}}
					<span>{{workday.date | date:"dd"}}</span>
				</p>
			</div>
			<div flex="60" class="clocks">
				<div layout="row">
					<md-button flex ng-repeat="clockin in workday.clockinValues track by clockin.id">
					<p>{{clockin.time}}</p>
					</md-button>
				</div>
			</div>
			<!-- <md-button class="gray" flex="20">
				<i class="fa fa-cog"></i>
				Saldo / Horas Trabalhadas
			</md-button> -->
		</div>
	</div>
</div>